html {
  font-size: 1.2rem;
}

body {
  text-align: center;
}

img {
  max-width: 100%;
}

.header-jumbo {
  background-image: url("./assets/so-delicious-cookie-recipes.jpg");
  background-size: cover;
}

.header-block {
  background-color: rgba(0, 0, 0, 0.6);
}

.section-about {
  background-color: wheat;
}

.section-contacts {
  background-color: burlywood;
}

.cookie-pic {
  width: 100%;
  max-width: 255px;
  height: auto;
}
